@media screen and (min-width:700px) {
    textarea {
		width:50%;
	}
	input {
		width:50%;
	}
}
@media screen and (max-width:699px) {
    textarea {
		width:100%;
	}
	input {
		width:100%;
	}
}
textarea {
	height:60px;
}

.ingredient-amount, .ingredient-name {
	width: 40%;
	margin: 0;
}

#image-preview {
	width: 100px;
	max-height: 100px;
}
