#ratings, .rating,.step, .steps, .ingredient, .ingredients, .description, .description p, .recipe-header, .create-rating,.description, .links{
	background: rgba(0,0,0,0.3);
	padding: 1em;
	margin: 0;
	margin-bottom: 0.5em;
	list-style-position: inside;
	border-radius: 1em;
	border: 1px solid #46aae6;
}

.view-recipe {
	position: relative;
	display: block;
	width: 100%;
}

@media screen and (min-width: 601px) {
	.ingredients {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	.ingredient {
		position: relative;
		width: 100%;
	}
}

.rating, .step, .ingredient, .description p  {
	background-color:#46aae6;
}

#rating {
	width: 10em;	
}

.description p {
	width: 100%;
}

.favourite-btn {
	position: relative;
	display: block;
}

.favourite-btn img,p {
	display: inline-block;
	vertical-align: middle;
}

.favourite-btn p {
	margin-left: 1em; 
}

.rating {
	padding:1em;
	position: relative;
	display: block;
}

.rating a {
	padding:0;
}

.rating-title,.rating-name {
	display: block;
	margin: 0;
}

.rating .comment {
	background: rgba(0,0,0,0.3);
	padding:1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.rating-comment {
	margin:0;
}
@media screen and (min-width: 700px){
	.rating-date {
		position: absolute;
		top:1em;
		right:1em;
	}
}

.rating-number {
	display: inline-block;
}
#favourite-icon {
	width:3em;
}
