<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
title<br>
<input id="title"><br>
description<br>
<textarea id="description" rows="10" cols="90"></textarea><br>
ingrediants<br>
<textarea id="ingredients" rows="10" cols="90"></textarea><br>
steps<br>
<textarea id="steps" rows="10" cols="90"></textarea><br>
<button id="submit">submil</button><br>
<script>
	$('#submit').on('click', () => {
	let rname = $('#title').val();
	let rdescription = $('#description').html();
	

	let ritems = $('#ingredients').html();
	var arrLength = ritems.split("\n");
	let ramounts = "";
	for(i=0;i<arrLength.length;i++){
		ramounts = ramounts + " /n "
	}
	
	let rsteps = $('#steps').html();
	let rid = $('#id').val();

	// Get all the ingredients and amounts
	
	
	$.post('http://www.dinnapp.tk/pages/php/add_recipe.php', {name: rname, description: rdescription, amounts: ramounts, items: ritems, steps: rsteps, id: rid}, (successful) =>{
		if(successful)
		{
			$('#add-recipe').html("<p>Recipe added!</p><a href='/?page=my_recipes'>Go to your recipes</a>");
		}
		else
		{
			$('#add-recipe').html("<h3>Sorry! Your recipe could not be added!</h3>");
		}
	});
});

</script>
