<!-- The following meta's are included in all files -->
	<meta charset="utf-8">
	<meta name="author" content="Liam Labuschagne and Bert Downs" />
	<meta name="copyright" content="Liam Labuschagne and Bert Downs" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- The following meta's are page specific -->
