@font-face
{
	font-family: SGALT;
	src: url('/assets/fonts/SGALT.otf')
}

* {
    box-sizing: border-box;
    font-family: SGALT;
    margin: 0.2em;
}

html {
	background-color: white;
	padding:0px;
	margin: 0px;
	border:0px;
	height:100%;
	width: 100%;
	font-family: SGALT;
	background: url('/assets/images/background.jpg');
    background-size: cover;
  	background-position: left top;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
body {
	background: rgba(0,0,0,0.3);
	padding-left: 20px;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	min-height: 100%;
	color: white;
}

#banner-image{
	height:80px;
}

#banner-image:hover {
	cursor: pointer;
}

@media screen and (min-width:900px) {
    body {width:70%;}
}
@media screen and (max-width:899px) {
    body {width:90%;}
}
header {
	background-color:#46aae6;
	margin-left: -20px;
	margin-top: 0;
}
main {
	position: relative;
	margin:20px;
	padding-bottom:6em  ;/*Height of footer + 1 for extra padding*/
}

h1 {
	font-size: 3.5em;
	color: white;
}

h2 {
	font-size: 2em;
	color: white;
	font-style: italic;
}

h3,h4,label {
	color:white;
	font-size: 1.5em;
}

p {
	font-size: 1em;
	color:white;
}

a {
	color: #24ff00;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em;
	/*display: block;*/
}

a:focus {
  outline: none;
}

ul {
	color: white;
	margin:0;
	padding: 0;
}

button, input[type=button] {
	padding: 0.3em;
	min-width: 20em;
}

button:hover, input[type=button]:hover {
	cursor: pointer;
}

textarea {
	padding: 1em;
	width: 30em;
	height: 10em;
	resize: none;
}

/* forms and other basic stuff*/
form {
	width:50%;
	margin:auto;
	text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    font-family: SGALT;
}

footer {
    background-color:#46aae6;
	margin-left: -20px;
	height:5em; /* when changing this change the padding-bottom of main to the same amount*/
	text-align: center;
	padding:2em;
	position:absolute;
   	bottom:0;
   	width:100%;
}

footer a:hover {
	color:white;
}

#nav .nav-coloumn ul {
	margin: 0;
}

#nav ul a, #footer-nav ul a{
	text-decoration: none;
	color:black;
}

#nav li, #footer-nav li {
	list-style-type: none;
	text-decoration: none;
	padding: 1em;
}

#nav a:hover, #footer-nav a:hover {
	color:white;
}

#nav, #footer-nav {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

#nav .nav-coloumn, #footer-nav .nav-coloumn {
	position: relative;
}


/* home navagation part- could be put in seperate file?*/
.home-nav {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-nav .btn {
	position: relative;
	min-height: 180px;
}

.home-nav .btn img{
	position: relative;
	display: block;
	margin: auto;
}

.home-nav .btn .text {
	text-align: center;
}

.home-nav .btn a:hover > img{
	width: 110px;
}

.recipe {
	background: rgba(0,0,0,0.3);
	padding: 1em;
	position: relative;
	margin: 0;
	margin-bottom: 0.5em;
	list-style-position: inside;
	border-radius: 1em;
	border: 1px solid #46aae6;
}

.recipe-edit-btn {
	position: absolute;
	right: calc(40px + 2em);
	top:2em;
}

.recipe-delete-btn, .unfavourite-btn {
	position: absolute;
	right:2em;
	top:2em;
}

.recipe-edit-btn:hover > img {
	width: 35px;
}

.recipe-delete-btn:hover > img{
	width: 35px;
}
/* center google sign in button*/
.abcRioButton {
	margin:auto;
}
.google-sign-in-btn {
	width:80%;
}
