* {
    box-sizing: border-box;
}

@font-face
{
	font-family: SGALT;
	src: url('/assets/fonts/SGALT.otf')
}

html {
	background-color: white;
	padding:0px;
	margin: 0px;
	border:0px;
	height:100%;
	font-family: SGALT;
}
body {
	background-color: gainsboro;
	position:relative;
	width:100%;
	min-height: 100%;
	margin:auto;
	padding:0px;
	border: 0px;
	background: url('/assets/images/background.jpg');
    background-size: cover;
  	background-position: left top;
  	background-repeat: no-repeat;
  	background-attachment: fixed;

}
header {
	margin: 0;
	background-color:#46aae6;
}
nav{
	padding: 3px;
}
main {
	margin:0px;
	padding:10px;
	position: relative;
	min-height: 100%;
	background-color: rgba(0,0,0,0.4);
	padding-bottom: 7em; /*5em for footer +2em for normal padding*/
}

h1 {
	margin-top:0;
	margin-bottom:0;
	font-size: 2.5em;
	color: white;
}

a:focus {
  outline: none;
}

h2 {
	font-size: 1.5em;
	color:white;
	font-style: italic;
	margin-top:0;
	margin-bottom:0;
}

h3,h4,label,span {
	font-size: 1em;
	color: white;
}

p,#text,text {
	font-size: 0.9em;
	color:white;
}

a {
	color: lime;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em;

}

a:focus {
  outline: none;
}

input,textarea {
	padding: 1em;
	margin-bottom: 10px;
	font-family: SGALT;
	width: 100%;
}

textarea {
	height: 5em;
	resize: none;
}

ul {
	color: white;
	margin:0;
	padding: 0;
}

button, input[type=button] {
	padding: 0.3em;
}

footer {
    background-color:#46aae6;
	height:5em; /* when changing this change the padding-bottom of main to the same amount*/
	text-align: center;
	padding:1em;
	position:absolute;
   	bottom:0;
   	right:0;
   	width:100%;
}


#banner-image{
	width:90%;
	display: block;
	margin: auto;
}

#nav ul a, #footer-nav ul a{
	text-decoration: none;
	color:black;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.2em;
	padding-left:25px;
}

#nav li, #footer-nav li {
	list-style-type: none;
	text-decoration: none;
	margin-bottom: 1em;
	margin-left: -1em; 
	position: relative;
}

#nav a:hover, #footer-nav a:hover {
	color:white;
}

#nav, #footer-nav {
	position: relative;
	display: grid;
	grid-template-columns: 1fr; 
}

#nav .nav-coloumn, #footer-nav .nav-coloumn {
	position: relative;
}

#nav ul, #footer-nav ul {
	margin: 0;
	padding-left: 1em;
}

.home-nav {
	position: relative;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	margin-bottom:3em;
}

.home-nav .btn {
	position: relative;
	height: 150px;
}

.home-nav .btn img{
	position: relative;
	display: block;
	margin: auto;
}

.home-nav .btn .text {
	text-align: center;
}

.home-nav .btn a:active > img{
	width: 110px;
}

.recipe {
	background: rgba(0,0,0,0.3);
	padding: 1em;
	margin: 0;
	position: relative;
	margin-bottom: 0.5em;
	list-style-position: inside;
	border-radius: 1em;
	border: 1px solid #46aae6;
}

.recipe-edit-btn {
	position: relative;
}

.recipe-delete-btn,.unfavourite-btn {
	position: relative;
	padding:1em;
}

.recipe-edit-btn:active > img {
	width: 35px;
}

.recipe-delete-btn:active > img{
	width: 35px;
}

.abcRioButton {
	margin:auto;
}
.google-sign-in-btn {
	width:100%;
}