.recipe-result,.recipe-result p {
	background: rgba(0,0,0,0.3);
	padding: 1em;
	margin: 0;
	margin-bottom: 0.5em;
	list-style-position: inside;
	border-radius: 1em;
	border: 1px solid #46aae6;
}

.recipe-result p {
	background-color:#46aae6;
}


#search-display {
	text-align: center;
	
	padding:10px;
	
}
#input {
	width:100%;
}
#prev-button[disabled=true]{
	display:none;
}
 #next-button[disabled=true]{
	display:none;
}
#page-buttons{
	text-align:center;
}